{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
    <h2 class="w3-center">Eventos</h2>
    <hr class="w3-clear">
    {% for event in events %}
        {% if forloop.counter|add:3|divisibleby:4 %}
            <div class="w3-row-padding">
        {% endif %}
                <div class="w3-quarter w3-margin-bottom">
                    <div class="w3-card-4">
                        <a href="{% url 'eventDetail' pk=event.pk %}">
                            {% if event.image.url != null %}
                               <img src="{{event.image.url}}" alt="{{event.name}}" class="w3-hover-opacity img-events full-width" title="{{event.name}}">
                           {% else %}
                                <img src="{% static 'images/event.png' %}" alt="{{event.name}}" class="w3-hover-opacity img-events full-width" title="{{event.name}}">
                           {% endif %}  
                        </a>
                        <div class="w3-container w3-center full-width">
                            <h3>{{ event.name }}</h3>
                            <p>De {{ event.startDate }} a {{ event.finishDate }}</p>
                        </div>
                    </div>
                </div>
        {% if forloop.counter|divisibleby:4 or forloop.last %}
            </div>
        {% endif %}
    {% endfor %}
    <input id="url_search" type="hidden" data-url="{% url 'eventListJson' %}">
    <input type="hidden" id="url_detail" data-url="{% url 'eventDetail' pk=0 %}">
{% endblock %}
{% block js %}
    <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
{% endblock %}