{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
    <h2 class="w3-center">{{ edit|default:"Novo" }} Evento</h2>
    <hr class="w3-clear">
    <div class="w3-container">
        <div class="w3-content form-size">
            <form method="POST" enctype="multipart/form-data" class="w3-white">
                {% csrf_token %}
                
                <div class="w3-section">
                    <input class="w3-input" type="text" id="id_name" name="name" value="{{ form.name.value|default_if_none:'' }}" placeholder="Nome do Evento" maxlength="300" required autofocus>
                </div>

                <div class="w3-section">
                    <textarea class="w3-input" type="text" id="id_desc" name="desc" placeholder="Descrição" rows="10" cols="40" required>{{ form.desc.value|default_if_none:'' }}</textarea>
                </div>
                
                <div class="w3-section">
                    <div class="w3-half">
                        <label>Data de Abertura</label>
                        <input class="w3-input" type="date" id="id_startDate" name="startDate" value="{{ form.startDate.value|date:'c' }}" 
                        {% if not edit %}
                            min="{% now 'Y-m-d' %}" 
                        {% endif %}
                        required onchange="dateTimeFunction('id_startDate','id_finishDate');">
                    </div>
                    <div class="w3-half">
                        <label>Data de Encerramento</label>
                        <input class="w3-input" type="date" id="id_finishDate" name="finishDate" value="{{ form.finishDate.value|date:'c'|default_if_none:'' }}" min="{% now 'Y-m-d' %}" required>
                    </div>
                </div>

                <input type="hidden" id="id_page" value="{{ edit|default:'new' }}">
                <input type="hidden" id="id_latitude" name="latitude" value="{{ form.latitude.value|default_if_none:'-26.1667' }}" maxlength="50">
                <input type="hidden" id="id_longitude" name="longitude" value="{{ form.longitude.value|default_if_none:'-50.4' }}" maxlength="50">

                <p class="w3-text-white">line-break</p>

                <div class="w3-section">
                    <div id="map" class="full-width map-height">
                    </div>
                </div>

                <div class="w3-section">
                    <div class="w3-content w3-center modal-max-size">
                        <div id="image-modal" class="w3-modal" onclick="display('image-modal','none')">
                            <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
                            <div class="w3-modal-content w3-animate-zoom">
                                <img id="event-image" class="full-width">
                            </div>
                        </div>

                        {% if form.image.value.url != null %}
                            <img class="w3-hover-opacity w3-margin-top preview-image" src="{{ form.image.value.url }}" alt="{{ form.name.value }}" title="{{ form.name.value }}" onclick="onClick(this)">
                        {% else %}
                            <img class="w3-hover-opacity w3-margin-top preview-image" src="{% static 'images/event.png' %}" onclick="onClick(this)">
                        {% endif %}

                        <div id="alert-display" class="w3-panel w3-pale-red w3-display-container none-display">
                            <span onclick="display('alert-display','none')"
                            class="w3-button w3-pale-red w3-large w3-display-topright">&times;</span>
                            <h3>Ops!</h3>
                            <p id="error"></p>
                        </div>

                        <label for="id_image" class="w3-button w3-light-grey w3-margin-top">Alterar imagem</label>
                        <input class="image-input" type="file" id="id_image" name="image" accept=".jpg, .jpeg, .png">
                    </div>
                </div>

                <div class="w3-section w3-center">
                    {% if edit %}
                        <div class="w3-half">
                            <a href="{% url 'eventList' %}" class="w3-button w3-light-grey almost-full">Cancelar</a>
                        </div>
                    {% else %}
                        <div class="w3-half">
                            <button type="reset" class="w3-button w3-light-grey almost-full">Limpar</button>
                        </div>
                    {% endif %}
                        <div class="w3-half">
                            <button class="w3-button w3-green w3-margin-bottom almost-full" type="submit">Salvar</button>
                        </div>
                </div>
            </form>
        </div>
    </div>
    <input id="url_search" type="hidden" data-url="{% url 'eventListJson' %}">
    <input type="hidden" id="url_detail" data-url="{% url 'eventDetail' pk=0 %}">
{% endblock %}
{% block js %}
    <script src="{% static 'js/image-file.js' %}"></script>
    <script src="{% static 'js/util.js' %}"></script>
    <script src="{% static 'js/map.js' %}"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBQ8wc8fWGiLONaOa0krmKN1olA_qMxtnI&callback=initMap"></script>
{% endblock %}