{% extends "base.html" %}

{% block content %}
    <div class="w3-container">
        <div class="w3-content vt-max-width_500">
            <form method="POST" class="w3-white">
                {% csrf_token %}
                <h2 class="w3-center">Cadastrar</h2>

                <div class="w3-section">      
                    <input class="w3-input" name="username" id="id_username" type="text" placeholder="Usuário" required autofocus>
                </div>

                <div class="w3-section">      
                    <input class="w3-input" name="password1" id="id_password1" type="password" placeholder="Senha" required>
                </div>

                <div class="w3-section">      
                    <input class="w3-input" name="password2" id="id_password2" type="password" placeholder="Confirmar senha" required>
                </div>

                <div class="w3-section">      
                    <button class="w3-button w3-green w3-block" type="submit">Entrar</button>
                    <input type="hidden" name="next" value="{{ next }}" />
                </div>

                <br>          
                {% if form.errors %}
                    <div class="w3-panel w3-pale-red w3-display-container">
                        <span onclick="this.parentElement.style.display='none'" class="w3-button w3-pale-red w3-large w3-display-topright">&times;</span>
                        <h3>Ops!</h3>
                        <p>Senhas não conferem.</p>
                    </div>
                {% endif %}
                <br>
            </form>
        </div>
    </div>
    <input id="url_search" type="hidden" data-url="{% url 'speakerListJson' %}">
    <input type="hidden" id="url_detail" data-url="{% url 'speakerDetail' pk=0 %}">
{% endblock %}
