body *, p, input, a {
    font-family: 'Nunito', sans-serif;
}

.show-slides {
    display:none
}

.show-slides-buttons {
    width: 50px;
    height: 600px;
    max-width: 100%;
    max-height: 100%;
    opacity: 0.2;
}

.w3-left, .w3-right, .w3-badge, .preview-image, .vt-pointer {
    cursor:pointer
}

.vt-size-icon_23 {
    height:23px;
    width:23px;
    padding:0;
}

.vt-font-size-icon_23 {
    font-size: 22px;
}

.min-full-width {
    min-width: 182px;
}

.max-full-width {
    max-width: 100%;
}

.max-full-height {
    min-height: 100%;
}

.full-height {
    height: 100%;
}

.full-width {
    width: 100%;
}

.almost-full {
    width: 95%;
}

.button-size {
    width: 60%;
}

.container {
    max-width: 1400px;
}

.img-speakers {
    width: 150px;
    height: 150px;
}

.speaker-icon-card {
    max-width: 85px;
}

.img-events {
    height: 210px;
}

.preview-image {
    height: 64px;
}

.map-height {
    height: 500px;
}

.modal-dialog {
    max-width: 600px;
}

.max-size {
    max-height: 300px;
}

.form-size {
    max-width: 800px;
}

.modal-max-size {
    max-width: 200px;
}

.vt-max-width_500 {
    max-width: 500px;
}

.link-decoration {
    text-decoration: none;
}

.p-display {
    display: inline;
}

.none-display {
    display: none;
}

.vt-inline-block-display {
    display: inline-block;
}

.right-margin {
    right: 0;
}

.five-index {
    z-index: 5;
}

.icon-size {
    font-size: 25px;
}
