.mySlides {
    display:none
}

.w3-left, .w3-right, .w3-badge, .preview-image {
	cursor:pointer
}

.w3-badge {
	height:13px;
	width:13px;
	padding:0
}

.min-full-width {
    min-width: 182px;
}

.max-full-width {
    max-width: 100%;
}

.max-full-height {
    min-height: 100%;
}

.full-height {
    height: 100%;
}

.full-width {
    width: 100%;
}

.almost-full {
    width: 95%;
}

.talk-container {
    max-width: 1400px;
    margin-top: 50px;
}

.img-speakers {
    width: 150px;
    height: 150px;
}

.img-events {
    height: 210px;
}

.preview-image {
    height: 64px;
}

.link-decoration {
    text-decoration: none;
}

.p-display {
    display: inline;
}