{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
    <h2 class="w3-center">{{ talk.category }}</h2>
    <hr class="w3-clear">
    <div class="container">
        <div class="w3-row">
            <div class="w3-quarter">
                <div class="w3-card-4 w3-margin-left w3-margin-right w3-margin-bottom">
                    {% if talk.event.image.url != null %}   
                        <img src="{{ talk.event.image.url }}" alt="{{ talk.event.name }}" title="{{ talk.event.name }}" class="full-width max-size">
                    {% else %}
                        <img src="{% static 'images/event.png' %}" alt="{{ talk.event.name }}" title="{{ talk.event.name }}" class="full-width">
                    {% endif %}
                    <div class="w3-container">
                        <div class="w3-tooltip">
                            <p><a href="{% url 'eventDetail' pk=talk.event.pk %}" class="link-decoration"><i class="fa fa-calendar-o"></i> &nbsp; {{ talk.event.name }} &nbsp;<i class="w3-text fa fa-external-link"></i></a></p>
                        </div>
                        <p title="Tipo"><i class="fa fa-calendar-check-o"></i> &nbsp; {{ talk.category }}</p>
                        <p title="Vagas"><i class="fa fa-group"></i> &nbsp; {{ talk.maxPeople }} vagas</p>
                        <p title="Local"><i class="fa fa-map-marker"></i> &nbsp; {{ talk.location }}</p>
                    </div>
                </div>
            </div>

            <div class="w3-twothird">
                <div class="w3-container w3-card-4 w3-margin-left w3-margin-right">
                    <div class="w3-margin-top">
                        {% if userIsParticipant or user.is_superuser %}
                            <a href="{% url 'talkEdit' pk=talk.pk %}" class="w3-button w3-right"><i class="fa fa-pencil" title="Editar"></i></a>
                        {% endif %}
                        
                        {% if user.is_superuser %}
                            <span id="vt_remove" class="w3-button w3-right"><i class="fa fa-trash" title="Remover"></i></span>
                            <div id="vt_remove_dialog" class="w3-modal">
                                <div class="w3-modal-content w3-animate-zoom modal-dialog">
                                    <header class="w3-container"> 
                                        <span class="w3-button w3-display-topright vt_hide_dialog">&times;</span>
                                    </header>
                                    <div class="w3-container">
                                        <p>Tem certeza que deseja excluir {{ talk.category }} "{{ talk.name }}"?</p>
                                    </div>
                                    <footer class="w3-container w3-padding-16">
                                        <button class="w3-button w3-green w3-right vt_hide_dialog">Cancelar</button>
                                        <a class="w3-button w3-right w3-margin-right w3-red" href="{% url 'talkRemove' pk=talk.pk %}" title="Remover">Remover</a>
                                    </footer>
                                </div>
                            </div>
                            
                            {% if not talk.approved %}
                                <input id="url_approve" type="hidden" data-url="{% url 'talkApprove' pk=talk.pk %}">
                                <span id="vt_approve" class="w3-button w3-right"><i class="fa fa-check" title="Aprovar"></i></span>
                            {% endif %}
                        {% endif %}
                    </div>
                    <h4>{{ talk.name }}</h4>
                    <h6 class="w3-opacity vt-inline-block-display">Em {{ talk.date }}, início às {{ talk.startTime }} e término às {{ talk.finishTime }}</h6>
                    <hr class="w3-clear">
                    <p>{{ talk.desc|linebreaksbr }}</p>
                </div>

                <div class="w3-container w3-card-4 w3-margin">
                    <h4>Palestrante(s)</h4>
                    <hr class="w3-clear">
                    {% for speaker in talk.speakers.all %}
                        {% if forloop.first or forloop.counter|divisibleby:5 %}
                            <div class="w3-row-padding">
                        {% endif %}
                            <div class="w3-quarter w3-center min-full-width w3-container">
                                <a href="{% url 'speakerDetail' pk=speaker.pk %}" class="">
                                    {% if speaker.image.url != null %}
                                        <img src="{{ speaker.image.url }}" alt="Boss" class="img-speakers w3-circle w3-hover-opacity" title="{{ speaker.name }}">
                                    {% else %}
                                        <img src="{% static 'images/speaker.png' %}" alt="Boss" class="img-speakers w3-circle w3-hover-opacity" title="{{ speaker.name }}">
                                    {% endif %}
                                </a>
                                <h6 class="w3-opacity">{{ speaker.name }}</h6>
                            </div>
                        {% if forloop.counter|divisibleby:4 or forloop.last %}
                            </div>
                        {% endif %}
                    {% empty %}
                            <p>Não há palestrante!?</p>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <input id="url_search" type="hidden" data-url="{% url 'eventTalkListJson' pk=talk.event.id  %}">
    <input type="hidden" id="url_detail" data-url="{% url 'talkDetail' pk=0 %}">
{% endblock %}
{% block js %}
    <script src="{% static 'js/approve.js' %}"></script>
{% endblock %}