{% load staticfiles %}

<!DOCTYPE html>
<html lang="pt-br">
   
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" href="{% static 'images/icon.png' %}" type="image/png" sizes="16x16">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="{% static 'css/main.css' %}">
        <link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet">
        <title>Event Management</title>
    </head>
    
    <body>
    	<!-- navigation -->

		<div class="w3-bar w3-light-grey w3-border w3-large">
            <span id="vt_nav_menu" class="w3-bar-item w3-button w3-hide-medium w3-hide-large"><i class="fa fa-bars"></i></span>
            <a href="/" class="w3-bar-item w3-button w3-green" title="Home"><i class="fa fa-home"></i></a>
            <a href="{% url 'eventList' %}" class="w3-bar-item w3-button w3-hide-small" title="Eventos">Eventos</a>
            <a href="{% url 'speakerList' %}" class="w3-bar-item w3-button w3-hide-small" title="Palestrantes">Palestrantes</a>
            {% if user.is_authenticated %}
                <a href="{% url 'logout' %}" class="w3-bar-item w3-button w3-right w3-hide-small" title="Logout"><i class="fa fa-sign-out"></i> Logout</a>
                
                <div class="w3-right">
                    <button id="vt_dropdown_menu" class="w3-button" title="Usuário"><i class="fa fa-user"></i><p class="w3-hide-small p-display"> {{ user.username }}</p></button>
                    
                    <div id="user_menu" class="w3-dropdown-content w3-bar-block w3-card-4 right-margin">
                        {% if user.is_superuser %}
                            <a href="{% url 'eventNew' %}" class="w3-bar-item w3-button" title="Novo Evento"><i class=" fa fa-calendar-plus-o vt-font-size-icon_23"></i> Novo Evento</a>
                            <a href="{% url 'talkNew' %}" class="w3-bar-item w3-button" title="Novo Evento"><i class="fa fa-plus-square vt-font-size-icon_23"></i> Nova Palestra</a>
                            <input type="hidden" id="url" data-url="{% url 'pendencyCountJson' %}" />
                            <a href="{% url 'pendencyList' %}" class="w3-bar-item w3-button" title="Lista de pendências"><span id="vt_badge" class="w3-badge vt-size-icon_23"></span> Pendências</a>
                        {% else %}
                            <a href="{% url 'speakerDetail' user.id %}" class="w3-bar-item w3-button" title="{{ user.username }}"><i class=" fa fa-user-circle-o"></i> Perfil do Palestrante</a>
                            {% if user.speaker.approved %}
                                <a href="{% url 'talkNew' %}" class="w3-bar-item w3-button" title="Novo Evento"><i class="fa fa-plus-square"></i> Nova Palestra</a>
                            {% endif %}
                        {% endif %}
                    </div>
                </div>
            {% else %}
    			<a href="{% url 'login' %}" class="w3-bar-item w3-button w3-right" title="Login"><i class="fa fa-sign-in"></i><p class="w3-hide-small p-display">  Login</p></a>
			{% endif %}
            
            <button id="vt_search_button" class="w3-bar-item w3-button w3-right" title="Pesquisar"><i id="search-button" class="fa fa-search"></i></button>

            <div class="w3-dropdown-click w3-right">
                <input id="vt_search_input" type="text" class="w3-input" placeholder="Pesquisar...">

                <div id="vt_search_list" class="w3-dropdown-content w3-bar-block w3-border">
                    <ul class="w3-ul w3-hoverable"></ul>
                </div>
            </div>
        </div>

        <!-- sidebar -->
        <div id="vt_sidebar" class="w3-sidebar w3-bar-block w3-light-grey w3-hide-large w3-hide-medium w3-animate-left w3-card modal-max-size five-index">
            <a href="{% url 'eventList' %}" class="w3-bar-item w3-button w3-padding-large"><i class="fa fa-calendar"></i> &nbsp; Eventos</a>
             {% if user.is_authenticated and not user.is_superuser %}
                <a href="{% url 'talkNew' %}" class="w3-bar-item w3-button  w3-padding-large" title="Novo Evento"><i class="fa fa-calendar-plus-o"></i> &nbsp; Nova Palestra</a>
            {% endif %}
            <a href="{% url 'speakerList' %}" class="w3-bar-item w3-button w3-padding-large"><i class="fa fa-users"></i> &nbsp; Palestrantes</a>
            {% if user.is_authenticated %}
                <a href="{% url 'logout' %}" class="w3-bar-item w3-button w3-padding-large" title="Logout"><i class="fa fa-sign-out"></i> &nbsp;&nbsp; Logout</a>
            {% endif %}
        </div>

        <div id="vt_overlay" class="w3-overlay w3-animate-opacity vt-pointer"></div>

        {% block content %}
        {% endblock %}
		
		<!-- footer -->
		<footer class="w3-center w3-light-grey w3-border w3-large w3-padding-16">
			<a href="#" class="w3-button w3-green">
				<i class="fa fa-arrow-up w3-margin-right"></i>Voltar ao topo
			</a>
            <div class="w3-section">
                <a href="https://bitbucket.org/vieirateam/" target="_blank">
                    <i class="fa fa-bitbucket w3-hover-opacity icon-size"></i>
                </a>
                <a href="https://github.com/vieirateam" target="_blank">
                    <i class="fa fa-github w3-hover-opacity icon-size"></i>
                </a>
                <a href="https://www.ubuntu.com/" target="_blank">
                    <i class="fa fa-linux w3-hover-opacity icon-size"></i>
                </a>
                <a href="https://stackoverflow.com/" target="_blank">
                    <i class="fa fa-stack-overflow w3-hover-opacity icon-size"></i>
                </a>
                <a href="https://store.steampowered.com/" target="_blank">
                    <i class="fa fa-steam-square w3-hover-opacity icon-size"></i>
                </a>
            </div>
			<p class="w3-medium">Desenvolvido por <a href="https://github.com/vieirateam" target="_blank">vieirateam</a></p>
		</footer>  
		
        <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
        <script src="{% static 'js/base.js' %}"></script>
    </body>
    {% block js %}
    {% endblock %}
</html>