{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
    <h2 class="w3-center">Pendências</h2>
    <hr class="w3-clear">
    <div class="w3-container w3-margin-bottom">
        <div class="w3-content form-size">
            <h4>Palestras a aprovar</h4>
            <ul id="talk_list" class="w3-ul w3-card-4">
                {% for talk in talks %}
                    <li class="w3-bar">
                        <input type="hidden" class="url" data-url="{% url 'talkApprove' pk=talk.pk %}" />
                        <span class="w3-bar-item w3-button w3-white w3-xlarge w3-right vt_approve vt_close"><i class="fa fa-check"></i></span>
                        <span class="w3-bar-item w3-button w3-white w3-xlarge w3-right vt_close"><i class="fa fa-remove"></i></span>
                        <div class="w3-bar-item">
                            <div class="w3-tooltip">
                                <a href="{% url 'talkDetail' pk=talk.pk %}" class="link-decoration"><span class="w3-large">{{ talk.name }}</span></a>
                                <i class="w3-text fa fa-external-link"></i>
                            </div>
                            <span>{{ talk.event.name }}</span>
                        </div>
                    </li>
                {% empty %}
                    <li class="w3-bar">
                        <p>Não há pendências</p>
                    </li>
                {% endfor %}
            </ul>

            <h4>Palestrantes a aprovar</h4>
            <ul id="speaker_list" class="w3-ul w3-card-4">
            	{% for speaker in speakers %}
	            	<li class="w3-bar">
                        <input type="hidden" class="url" data-url="{% url 'speakerApprove' pk=speaker.pk %}" />
                        <span class="w3-bar-item w3-button w3-white w3-xlarge w3-right vt_approve vt_close"><i class="fa fa-check"></i></span>
                        <span class="w3-bar-item w3-button w3-white w3-xlarge w3-right vt_close"><i class="fa fa-remove"></i></span>
                        
                        {% if speaker.image.url != null %}
	                        <img src="{{ speaker.image.url }}" alt="Boss" class="w3-bar-item w3-circle w3-hide-small speaker-icon-card">
	                    {% else %}
	                        <img src="{% static 'images/speaker.png' %}" alt="Boss" class="w3-bar-item w3-circle w3-hide-small speaker-icon-card">
	                    {% endif %}
                        
                        <div class="w3-bar-item">
                            <div class="w3-tooltip">
                                <a href="{% url 'speakerDetail' pk=speaker.pk %}" class="link-decoration"><span class="w3-large">{{ speaker.name }}</span></a>
                                <i class="w3-text fa fa-external-link"></i>
                            </div>
                        </div>
	                    </li>
                {% empty %}
                    <li class="w3-bar">
                        <p>Não há pendências</p>
                    </li>
        	{% endfor %}
            </ul>
        </div>
    </div>
    <input id="url_search" type="hidden" data-url="{% url 'objectListJson'  %}">
    <input type="hidden" id="url_detail" data-url="">
{% endblock %}
{% block js %}
    <script src="{% static 'js/pendency.js' %}"></script>
{% endblock %}