{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
    <h2 class="w3-center">Lista de pendências</h2>
    <hr class="w3-clear">
    <div class="w3-container w3-margin-bottom">
        <div class="w3-content form-size">
            <h4>Palestras a aprovar</h4>
            <ul class="w3-ul w3-card-4">
                {% for talk in talks %}
                    <li class="w3-bar">
                        <input type="hidden" class="url_talk" data-url="{% url 'talkApprove' pk=talk.pk %}" />
                        <i class="vt_talk_approve fa fa-check w3-bar-item w3-button w3-white w3-xlarge w3-right"></i>
                        <span onclick="this.parentElement.style.display='none'" class="w3-bar-item w3-button w3-white w3-xlarge w3-right"><i class="fa fa-remove"></i></span>
                        <div class="w3-bar-item">
                            <span class="w3-large">{{ talk.name }}</span><br>
                            <span>{{ talk.event.name }}</span>
                        </div>
                    </li>
                {% empty %}
                    <li class="w3-bar">
                        <p>Não há pendências</p>
                    </li>
                {% endfor %}
            </ul>

            <h4>Palestrantes a aprovar</h4>
            <ul class="w3-ul w3-card-4">
            	{% for speaker in speakers %}
	            	<li class="w3-bar">
                        <input type="hidden" class="url_speaker" data-url="{% url 'speakerApprove' pk=speaker.pk %}" />
                        <i class="vt_speaker_approve fa fa-check w3-bar-item w3-button w3-white w3-xlarge w3-right"></i>
                        <span onclick="this.parentElement.style.display='none'" class="w3-bar-item w3-button w3-white w3-xlarge w3-right"><i class="fa fa-remove"></i></span>
                        
                        {% if speaker.image.url != null %}
	                        <img src="{{ speaker.image.url }}" alt="Boss" class="w3-bar-item w3-circle w3-hide-small speaker-icon-card">
	                    {% else %}
	                        <img src="{% static 'images/speaker.png' %}" alt="Boss" class="w3-bar-item w3-circle w3-hide-small speaker-icon-card">
	                    {% endif %}
                        
                        <div class="w3-bar-item">
                            <span class="w3-large">{{ speaker.name }}</span>
                        </div>
	                    </li>
                {% empty %}
                    <li class="w3-bar">
                        <p>Não há pendências</p>
                    </li>
        	{% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}
{% block js %}
    <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'js/ajax.js' %}"></script>
{% endblock %}