{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
    
    <!-- Slideshow div -->

    <div class="w3-content w3-display-container max-full-width">
        <img class="mySlides w3-animate-opacity full-width" src="{% static 'images/img_la.jpg' %}">
        <img class="mySlides w3-animate-opacity full-width" src="{% static 'images/img_chicago.jpg' %}">
        <img class="mySlides w3-animate-opacity full-width" src="{% static 'images/img_ny.jpg' %}">

        <div class="w3-center w3-container w3-section w3-large w3-text-white w3-display-bottommiddle" style="width:100%">
            <div class="w3-left w3-hover-text-khaki" onclick="plusDivs(-1)">&#10094;</div>
            <div class="w3-right w3-hover-text-khaki" onclick="plusDivs(1)">&#10095;</div>
            <span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentDiv(1)"></span>
            <span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentDiv(2)"></span>
            <span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentDiv(3)"></span>
        </div>
    </div>

    <div class="w3-row-padding  w3-center">
        <h2>Próximos Eventos</h2>
        <hr>
        {% for event in events %}
            <div class="w3-quarter w3-container w3-margin-bottom">
                <div class="w3-card-4">
                    <a href="{% url 'eventDetail' pk=event.pk %}">
                        {% if event.eventImage.url != null %}
                    	   <img src="{{ event.eventImage.url }}" alt="{{event.eventName}}" class="img-events full-width w3-hover-opacity" title="{{event.eventName}}">
                       {% else %}
                            <img src="{% static 'images/event.png' %}" alt="{{event.eventName}}" class="img-events full-width w3-hover-opacity" title="{{event.eventName}}">
                       {% endif %}    
                    </a>
                    <div class="w3-container w3-center">
                        <h3>{{ event.eventName }}</h3>
                        <p>De {{ event.eventStartDate }} a {{ event.eventFinishDate }}</p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

    <!-- Contato -->
    <hr>
    <div class="w3-container w3-light-grey">
        <div class="w3-content" style="max-width: 800px">
            <form method="POST" class="w3-light-grey">
                {% csrf_token %}
                <h2 class="w3-center">Contato</h2>

                <div class="w3-section">      
                    <input class="w3-input" name="email" type="email" placeholder="Email" required>
                </div>

                <div class="w3-section">      
                    <input class="w3-input" name="subject" type="text" placeholder="Assunto" required>
                </div>

                <div class="w3-section">      
                    <textarea class="w3-input" name="message" type="text" placeholder="Mensagem" rows="10" cols="40" required></textarea>
                </div>

                <div class="w3-section">      
                    <button type="reset" class="w3-button" style="width:49.5%">Limpar</button>
                    <button class="w3-button w3-green" style="width:49.5%" type="submit">Enviar</button>
                </div>
            </form>
        </div>
    </div>

{% endblock %}