{% extends 'base.html' %}

{% block content %}
    <h2 class="w3-center">Lista de pendências</h2>
    <hr>
    <div class="w3-container w3-margin-bottom">
        <div class="w3-content" style="max-width: 800px">
            <h4>Palestras a aprovar</h4>
            <ul class="w3-ul w3-card-4">
                {% for talk in talks %}
                    <li class="w3-bar">
                        <a href="{% url 'talkApprove' pk=talk.pk %}" class="w3-bar-item w3-button w3-white w3-xlarge w3-right"><i class="fa fa-check"></i></a>
                        <span onclick="this.parentElement.style.display='none'" class="w3-bar-item w3-button w3-white w3-xlarge w3-right"><i class="fa fa-remove"></i></span>
                        <!-- <img src="img_avatar2.png" class="w3-bar-item w3-circle w3-hide-small" style="width:85px"> -->
                        <div class="w3-bar-item">
                            <span class="w3-large">{{ talk.talkName }}</span><br>
                            <span>{{ talk.eventId.eventName }}</span>
                        </div>
                    </li>
                {% empty %}
                    <li class="w3-bar">
                        <p>Não há pendências</p>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}