{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
    <h2 class="w3-center">Perfil Palestrante</h2>
    <hr class="w3-clear">
    <div class="w3-container">
        <div class="w3-content form-size">
            <form method="POST" enctype="multipart/form-data" class="w3-white">
                {% csrf_token %}
                
                <div class="w3-section">      
                    <input class="w3-input" type="text" id="id_name" name="name" value="{{ form.name.value|default_if_none:'' }}" placeholder="Nome do Palestrante" required autofocus>
                </div>

                <div class="w3-section">      
                    <input class="w3-input" type="text" id="id_email" name="email" value="{{ form.email.value|default_if_none:'' }}" placeholder="Email" required autofocus>
                </div>

                <div class="w3-section">      
                    <input class="w3-input" type="text" id="id_formation" name="formation" value="{{ form.formation.value|default_if_none:'' }}" placeholder="Área de Formação" required>
                </div>

                <div class="w3-section">
                    <textarea class="w3-input" type="text" id="id_bio" name="bio" placeholder="Biografia" rows="10" cols="40" required>{{ form.bio.value|default_if_none:'' }}</textarea>
                </div>
                
                <div class="w3-section">
                    <div class="w3-content w3-center modal-max-size">
                        <div id="image-modal" class="w3-modal" onclick="display('image-modal','none')">
                            <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
                            <div class="w3-modal-content w3-animate-zoom">
                                <img id="event-image" class="full-width">
                            </div>
                        </div>

                        {% if form.image.value.url != null %}
                            <img class="w3-hover-opacity w3-margin-top preview-image" src="{{ form.image.value.url }}" alt="{{ form.name.value }}" title="{{ form.name.value }}" onclick="onClick(this)">
                        {% else %}
                            <img class="w3-hover-opacity w3-margin-top preview-image" src="{% static 'images/speaker.png' %}" class="full-width" onclick="onClick(this)">
                        {% endif %}

                        <div id="alert-display" class="w3-panel w3-pale-red w3-display-container none-display">
                            <span onclick="display('alert-display','none')"
                            class="w3-button w3-pale-red w3-large w3-display-topright">&times;</span>
                            <h3>Ops!</h3>
                            <p id="error"></p>
                        </div>

                        <label for="id_image" class="w3-button w3-light-grey w3-margin-top">Alterar imagem</label>
                        <input class="image-input" type="file" id="id_image" name="image" accept=".jpg, .jpeg, .png">
                    </div>
                </div>

                <div class="w3-section w3-center">      
                    <div class="w3-half">
                        <a href="{% url 'speakerDetail' pk=user.speaker.id  %}" class="w3-button w3-light-grey almost-full">Cancelar</a>
                    </div>
                    <div class="w3-half">
                        <button class="w3-button w3-green w3-margin-bottom almost-full" type="submit">Salvar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <input id="url_search" type="hidden" data-url="{% url 'speakerListJson' %}">
    <input type="hidden" id="url_detail" data-url="{% url 'speakerDetail' pk=0 %}">
{% endblock %}
{% block js %}
    <script src="{% static 'js/image-file.js' %}"></script>
    <script src="{% static 'js/util.js' %}"></script>
{% endblock %}