{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
    <h2 class="w3-center">Palestrantes</h2>
    <hr class="w3-clear">
    <div class="w3-container w3-center">
        {% for speaker in speakers %}
            {% if forloop.counter|add:3|divisibleby:4 %}
                <div class="w3-row">
            {% endif %}
                {% if speaker.approved or user.is_superuser %}               
                    <div class="w3-quarter">
                        <a href="{% url 'speakerDetail' pk=speaker.pk %}">
                            {% if speaker.image.url != null %}
                                <img src="{{ speaker.image.url }}" alt="Boss" class="img-speakers w3-circle w3-hover-opacity" title="{{ speaker.name }}">
                            {% else %}
                                <img src="{% static 'images/speaker.png' %}" alt="Boss" class="img-speakers w3-circle w3-hover-opacity" title="{{ speaker.name }}">
                            {% endif %}
                        </a>
                        <h5>{{ speaker.name }}</h5>
                    </div>
                {% endif%}
            {% if forloop.counter|divisibleby:4 or forloop.last %}
                </div>
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}
